body {
    background-image: url("Fundal.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  
  .btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #3498db;
    color: black;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.2s;
    font-weight: bold;
  }
  
  .btn:hover {
    background-color: rgb(0, 0, 0);
    transform: scale(1.05);
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f9fa;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #00fbee;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  #searchInput {
    width: 100%;
    max-width: 400px;
    padding: 14px 20px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    transition: all 0.3s ease;
    background-color: #970a0a;
    color: #333;
  }
  
  #searchInput::placeholder {
    color: #000000;
  }
  
  #searchInput:focus {
    outline: none;
    box-shadow: 0 0 0 3px #3498db40;
    background-color: #f9f9f9;
  }
  
  .catalog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .product {
    width: 350px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
  }
  
  .product:hover {
    transform: scale(1.03);
  }
  
  .product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .product h2 {
    font-size: 1.1em;
    color: #34495e;
    margin-bottom: 10px;
  }
  
  .product p {
    color: #555;
    margin-bottom: 10px;
  }
  
  .Pre»õul {
    font-weight: bold;
    font-size: 1.0em;
  }
  
  .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3498db;
    color: rgb(36, 13, 13);
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.2s;
  }
  
  .btn:hover {
    background-color: #2980b9;
    transform: scale(1.05);
  }
  